<!-- This is the wrap-top portion of off-canvas wrap for navigation.  It requires the wrap-bottom portion to be inserted after whatever will move to reveal navigation. -->

<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">

  <div class="row">
  <div class="small-12 column">

    <nav class="tab-bar">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
      </section>

      <section class="middle tab-bar-section">
        <h1 class="title">Aint Nobody</h1>
      </section>

      <section class="right-small">
        <a class="right-off-canvas-toggle menu-icon" href="#"><span></span></a>
      </section>
    </nav>

    </div>
    </div>

    <aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
        {% include "templates/partials/nav-list.html" %}
      </ul>
    </aside>

    <aside class="right-off-canvas-menu">
      <ul class="off-canvas-list align-right">
        {% include "templates/partials/nav-list.html" %}
      </ul>
    </aside>

    <section class="main-section">