<!-- This is the wrap-top portion of off-canvas wrap for navigation.  It requires the wrap-bottom portion to be inserted after whatever will move to reveal navigation. -->

<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">
    <nav class="tab-bar">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
      </section>

      <section class="middle tab-bar-section">
        <h1 class="title">Aint Nobody</h1>
      </section>

      <section class="right-small">
        <a class="right-off-canvas-toggle menu-icon" href="#"><span></span></a>
      </section>
    </nav>

    <aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><label>Flavors</label></li>
        <li><a href="#">Music Videos</a></li>
        <li><a href="#">Remixes</a></li>
        <li><a href="#">Contests</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </aside>

    <aside class="right-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><label>Flavors</label></li>
        <li><a href="#">Music Videos</a></li>
        <li><a href="#">Remixes</a></li>
        <li><a href="#">Contests</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </aside>

    <section class="main-section">