{# ------------------------------------------------------- #}

{# YOUR HOMEPAGE #}

{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}

{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}

{# ------------------------------------------------------- #}

{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}

{# This sets our page <title>. It will append "- Homepage" to the site title defined in base. #}
{% block title %}{% parent %} - Homepage{% endblock %}

{% block content %}


<video width="640" height="360" id="player1" preload="none">
            <source type="video/youtube" src="http://www.youtube.com/watch?v=Lt6CUH9bVzI" />
        </video>

<script type="text/javascript">
jQuery(document).ready(function($) {

    // declare object for video
    var player = new MediaElementPlayer('#player1');

});
</script>

{% endblock %}
